    /*Celine tran 1938648*/
    
    * {
        margin: 0;
        box-sizing: border-box;
        text-align: center;
    }
    
    main {
        min-height: 95vh;
        padding: 25px;
        background: rgb(250, 235, 215);
        background: linear-gradient(180deg, rgba(250, 235, 215, 1) 0%, rgba(250, 235, 215, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    
    h1 {
        margin-bottom: revert;
        font-size: xxx-large;
        color: #848282;
    }
    
    img {
        width: 100px;
        height: auto;
    }
    
    #cityInput {
        border-radius: 0px 0px 16px 16px;
        margin-right: 5px;
        box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
        font-size: 20px;
        transition: 0.4s ease;
    }
    
    #cityInput:invalid {
        border-color: rgb(239 80 106);
        border-width: medium;
    }
    
    #submit {
        margin-left: 5px;
        font-size: large;
        border-radius: 5px;
        padding: revert;
    }
    
    #cityLabel {
        font-family: monospace;
        font-size: xx-large;
    }
    
    #info,
    #des,
    #error {
        margin: 30px auto;
    }
    
    #error,
    #des {
        font-size: xx-large;
        font-weight: bold;
    }
    
    #error {
        color: red;
    }
    
    #info {
        border-radius: 16px;
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        text-shadow: 3px 3px rgb(50 50 70 / 22%);
        width: fit-content;
        padding: 30px;
        background-color: rgb(144 113 113 / 55%);
        color: azure;
        font-family: inherit;
    }
    
    #info p {
        margin: 10px;
    }
    
    #des {
        color: rgb(134 58 71);
        font-style: italic;
        text-align: center;
    }